body {
    background-color: dimgray;
}

h1 {
    text-align: center;
    font-size: 2em;
    background-color: azure;
    width: 360px;
}

h2 {
    float: left;
    text-align: center;
    width: 150px;
    font-size: 1.8em;
}

#results {
    width: 120px;
}

#instructions {
    float: left;
    font-size: 1.2em;
    background-color: black;
    color: paleturquoise;
    width: 360px;
}

#cloth {
    position: absolute;
    top: -20px;
    right: 0;
}

.gem {
    position: absolute;
    width: 4em;
}

#emerald {
    top: 100px;
    left: 100px;
}

#sapphire {
    top: 100px;
    left: 240px;
}

#amethyst {
    top: 240px;
    left: 240px;
}

#topaz {
    top: 240px;
    left: 100px;
}

@media screen and (max-width:1200px) {
    h2 {
        clear: both;
        text-align: left;
    }
}

@media screen and (max-width: 750px) {
    #cloth {
        position: relative;
        left: -20px;
        clear: both;
    }
}